 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/terricks-noah-n9R0MN3XGvY-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 297px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 221px auto 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 193px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 143px;
    margin-bottom: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 159px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 54px;
  }
} .u-section-2 {
  background-image: url("images/tshorts.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 909px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 365px;
  background-image: url("images/championboys.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0 auto;
}

.u-section-2 .u-image-2 {
  min-height: 365px;
  background-image: url("images/columbia.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 265px auto 0;
}

.u-section-2 .u-image-3 {
  min-height: 365px;
  background-image: url("images/wrangler.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 265px auto 0;
}

.u-section-2 .u-image-4 {
  min-height: 365px;
  background-image: url("images/gymboree.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 265px auto 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 86px;
  margin-bottom: 27px;
}

.u-section-2 .u-image-5 {
  min-height: 365px;
  background-image: url("images/baoshidi.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-image-6 {
  min-height: 365px;
  background-image: url("images/lacostegirls.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  margin: 265px auto 0;
}

.u-section-2 .u-image-7 {
  min-height: 365px;
  background-image: url("images/calvinkleingirls.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  margin: 265px auto 0;
}

.u-section-2 .u-image-8 {
  min-height: 365px;
  background-image: url("images/adidas.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  margin: 265px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-2 .u-image-1 {
    min-height: 292px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 209px;
  }

  .u-section-2 .u-image-2 {
    min-height: 292px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 209px;
    margin-left: 29px;
  }

  .u-section-2 .u-image-3 {
    min-height: 292px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 209px;
  }

  .u-section-2 .u-image-4 {
    min-height: 292px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 209px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 29px;
  }

  .u-section-2 .u-image-5 {
    min-height: 250px;
  }

  .u-section-2 .u-image-6 {
    min-height: 250px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 150px;
  }

  .u-section-2 .u-image-7 {
    min-height: 250px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 150px;
  }

  .u-section-2 .u-image-8 {
    min-height: 250px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 150px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-2 .u-image-1 {
    min-height: 237px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-image-2 {
    min-height: 237px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-image-3 {
    min-height: 237px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-image-4 {
    min-height: 237px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 0;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 42px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-5 {
    min-height: 219px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 15px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 106px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    min-height: 219px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 15px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 106px;
  }

  .u-section-2 .u-image-7 {
    min-height: 219px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 15px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 106px;
  }

  .u-section-2 .u-image-8 {
    min-height: 219px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 106px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4334px;
  }

  .u-section-2 .u-image-1 {
    min-height: 552px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 469px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 538px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 457px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    min-height: 530px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 454px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-4 {
    min-height: 665px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 563px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-5 {
    min-height: 583px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 507px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-6 {
    min-height: 592px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-image-7 {
    min-height: 663px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-right: 183px;
  }

  .u-section-2 .u-image-8 {
    min-height: 692px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2795px;
  }

  .u-section-2 .u-image-1 {
    min-height: 376px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 301px;
  }

  .u-section-2 .u-image-2 {
    min-height: 381px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 308px;
  }

  .u-section-2 .u-image-3 {
    min-height: 365px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 294px;
  }

  .u-section-2 .u-image-4 {
    min-height: 426px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 360px;
  }

  .u-section-2 .u-image-5 {
    min-height: 447px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 376px;
  }

  .u-section-2 .u-image-6 {
    min-height: 373px;
  }

  .u-section-2 .u-image-7 {
    min-height: 361px;
  }

  .u-section-2 .u-text-8 {
    margin-right: auto;
  }

  .u-section-2 .u-image-8 {
    min-height: 361px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/engin-akyurt-Hd4nlxLgIbA-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 799px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 68px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 299px;
  background-image: url("images/underarmour.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0 auto;
}

.u-section-3 .u-image-2 {
  min-height: 299px;
  background-image: url("images/leeboys.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 199px auto 0;
}

.u-section-3 .u-image-3 {
  min-height: 299px;
  background-image: url("images/champions.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin: 0 auto;
}

.u-section-3 .u-image-4 {
  min-height: 299px;
  background-image: url("images/pumashortd.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin: 199px auto 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 58px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-5 {
  min-height: 260px;
  background-image: url("images/pumagirls.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  font-weight: normal;
  margin: 0 auto;
}

.u-section-3 .u-image-6 {
  min-height: 260px;
  background-image: url("images/adidasgirls.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  margin: 160px auto 0;
}

.u-section-3 .u-image-7 {
  min-height: 260px;
  background-image: url("images/reebokgirls.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  margin: 160px auto 0;
}

.u-section-3 .u-image-8 {
  min-height: 260px;
  background-image: url("images/newbalancegirls1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  margin: 160px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 38px;
  }

  .u-section-3 .u-image-1 {
    min-height: 252px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 13px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 141px;
  }

  .u-section-3 .u-image-2 {
    min-height: 252px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 13px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 141px;
    margin-left: 29px;
  }

  .u-section-3 .u-image-3 {
    min-height: 252px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 13px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 141px;
  }

  .u-section-3 .u-image-4 {
    min-height: 252px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 13px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 141px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 36px;
  }

  .u-section-3 .u-image-5 {
    min-height: 223px;
  }

  .u-section-3 .u-image-6 {
    min-height: 223px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 95px;
  }

  .u-section-3 .u-image-7 {
    min-height: 223px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 95px;
  }

  .u-section-3 .u-image-8 {
    min-height: 223px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 34px;
  }

  .u-section-3 .u-image-1 {
    min-height: 199px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-image-2 {
    min-height: 199px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-image-3 {
    min-height: 199px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 0;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-image-4 {
    min-height: 199px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 60px;
    margin-bottom: 47px;
  }

  .u-section-3 .u-image-5 {
    min-height: 178px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 15px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-6 {
    min-height: 178px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 15px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 22px;
  }

  .u-section-3 .u-image-7 {
    min-height: 178px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 15px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 22px;
  }

  .u-section-3 .u-image-8 {
    min-height: 178px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4006px;
  }

  .u-section-3 .u-image-1 {
    min-height: 506px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 429px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    min-height: 538px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 457px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    min-height: 459px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 392px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-4 {
    min-height: 470px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 417px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-image-5 {
    min-height: 451px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 372px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-6 {
    min-height: 491px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-image-7 {
    min-height: 370px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-right: 183px;
  }

  .u-section-3 .u-image-8 {
    min-height: 448px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2795px;
  }

  .u-section-3 .u-image-1 {
    min-height: 376px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 301px;
  }

  .u-section-3 .u-image-2 {
    min-height: 381px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 308px;
  }

  .u-section-3 .u-image-3 {
    min-height: 365px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 294px;
  }

  .u-section-3 .u-image-4 {
    min-height: 301px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 244px;
  }

  .u-section-3 .u-image-5 {
    min-height: 280px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 220px;
  }

  .u-section-3 .u-image-6 {
    min-height: 309px;
  }

  .u-section-3 .u-image-7 {
    min-height: 228px;
  }

  .u-section-3 .u-text-8 {
    margin-right: auto;
  }

  .u-section-3 .u-image-8 {
    min-height: 305px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/matthew-moloney-YeGao3uk8kI-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1162px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 541px;
  background-image: url("images/underarmourtrousers.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 0 auto;
}

.u-section-4 .u-image-2 {
  min-height: 541px;
  background-image: url("images/leetrousers.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin: 0 auto;
}

.u-section-4 .u-image-3 {
  min-height: 541px;
  background-image: url("images/championtrousers.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin: 0 auto;
}

.u-section-4 .u-image-4 {
  min-height: 541px;
  background-image: url("images/pumatrousers1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  margin: 0 auto;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 42px;
  margin-bottom: 40px;
}

.u-section-4 .u-image-5 {
  min-height: 491px;
  background-image: url("images/newbalancetrousersgirls.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-weight: normal;
  margin: 0 auto;
}

.u-section-4 .u-image-6 {
  min-height: 491px;
  background-image: url("images/adidasgirlstrousers3.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  margin: 0 auto;
}

.u-section-4 .u-image-7 {
  min-height: 491px;
  background-image: url("images/reebokgirlstrousers.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  margin: 0 auto;
}

.u-section-4 .u-image-8 {
  min-height: 491px;
  background-image: url("images/nike.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1049px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 38px;
  }

  .u-section-4 .u-image-1 {
    min-height: 479px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 13px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 479px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 13px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 141px;
    margin-left: 29px;
  }

  .u-section-4 .u-image-3 {
    min-height: 479px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 13px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 141px;
  }

  .u-section-4 .u-image-4 {
    min-height: 479px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 13px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 141px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 45px;
    margin-bottom: 55px;
  }

  .u-section-4 .u-image-5 {
    min-height: 393px;
  }

  .u-section-4 .u-image-6 {
    min-height: 393px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 95px;
  }

  .u-section-4 .u-image-7 {
    min-height: 393px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 95px;
  }

  .u-section-4 .u-image-8 {
    min-height: 393px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 34px;
  }

  .u-section-4 .u-image-1 {
    min-height: 374px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-image-2 {
    min-height: 374px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-image-3 {
    min-height: 374px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 0;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-image-4 {
    min-height: 374px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 0;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 15px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-image-5 {
    min-height: 327px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 214px;
    margin-right: 15px;
    margin-left: 1px;
  }

  .u-section-4 .u-image-6 {
    min-height: 327px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-bottom: 15px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 22px;
  }

  .u-section-4 .u-image-7 {
    min-height: 327px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-bottom: 15px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 22px;
  }

  .u-section-4 .u-image-8 {
    min-height: 327px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4006px;
  }

  .u-section-4 .u-image-1 {
    min-height: 874px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 776px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    min-height: 1112px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 1014px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-3 {
    min-height: 1182px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-4 {
    min-height: 1169px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 417px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-bottom: 55px;
  }

  .u-section-4 .u-image-5 {
    min-height: 922px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 829px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-6 {
    min-height: 958px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-7 {
    min-height: 838px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-right: 183px;
  }

  .u-section-4 .u-image-8 {
    min-height: 1178px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2795px;
  }

  .u-section-4 .u-image-1 {
    min-height: 782px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 730px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 0;
  }

  .u-section-4 .u-image-3 {
    min-height: 693px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 294px;
  }

  .u-section-4 .u-image-4 {
    min-height: 781px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 244px;
  }

  .u-section-4 .u-image-5 {
    min-height: 597px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 0;
  }

  .u-section-4 .u-image-6 {
    min-height: 603px;
  }

  .u-section-4 .u-image-7 {
    min-height: 535px;
  }

  .u-section-4 .u-text-8 {
    margin-right: auto;
  }

  .u-section-4 .u-image-8 {
    min-height: 778px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/billie-Cn3s6bVVHNo-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 735px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  min-height: 291px;
  background-image: url("images/pumaboyspants.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-text-2 {
  margin: 202px auto 0;
}

.u-section-5 .u-image-2 {
  min-height: 291px;
  background-image: url("images/hilfigerboysunderwear.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-text-3 {
  margin: 202px auto 0;
}

.u-section-5 .u-image-3 {
  min-height: 291px;
  background-image: url("images/9178YEsjS0L._AC_UL400_.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  margin: 0 auto;
}

.u-section-5 .u-image-4 {
  min-height: 291px;
  background-image: url("images/newbalanceunderwear.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  margin: 0 auto 0 39px;
}

.u-section-5 .u-layout-wrap-2 {
  margin-top: 65px;
  margin-bottom: 27px;
}

.u-section-5 .u-image-5 {
  min-height: 304px;
  background-image: url("images/newbalanceunderweargirls.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  font-weight: normal;
  margin: 0 auto;
}

.u-section-5 .u-image-6 {
  min-height: 304px;
  background-image: url("images/disney.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-7 {
  margin: 0 auto;
}

.u-section-5 .u-image-7 {
  min-height: 304px;
  background-image: url("images/91rKEPTLQuL._AC_UL400_.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  margin: 0 auto;
}

.u-section-5 .u-image-8 {
  min-height: 304px;
  background-image: url("images/81W82kdrYKL._AC_UL400_.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px;
}

.u-section-5 .u-text-9 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 38px;
  }

  .u-section-5 .u-image-1 {
    min-height: 257px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 13px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 158px;
    margin-left: 18px;
  }

  .u-section-5 .u-image-2 {
    min-height: 257px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 13px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 158px;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    min-height: 257px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 11px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 148px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-4 {
    min-height: 257px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 13px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 148px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: 56px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-image-5 {
    min-height: 258px;
  }

  .u-section-5 .u-image-6 {
    min-height: 258px;
  }

  .u-section-5 .u-image-7 {
    min-height: 258px;
  }

  .u-section-5 .u-image-8 {
    min-height: 258px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 34px;
  }

  .u-section-5 .u-image-1 {
    min-height: 206px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 125px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 206px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 111px;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    min-height: 206px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 7px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 101px;
  }

  .u-section-5 .u-image-4 {
    min-height: 206px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 7px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 101px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: 48px;
    margin-bottom: 49px;
  }

  .u-section-5 .u-image-5 {
    min-height: 197px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 84px;
    margin-right: 15px;
    margin-left: 1px;
  }

  .u-section-5 .u-image-6 {
    min-height: 197px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-bottom: 15px;
  }

  .u-section-5 .u-image-7 {
    min-height: 197px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-bottom: 15px;
  }

  .u-section-5 .u-image-8 {
    min-height: 197px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin: 99px 0 -15px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 4006px;
  }

  .u-section-5 .u-image-1 {
    min-height: 578px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-2 {
    min-height: 801px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 732px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-3 {
    min-height: 661px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 571px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-4 {
    min-height: 513px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 470px;
    margin-right: 172px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-image-5 {
    min-height: 667px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 588px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-6 {
    min-height: 388px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 318px;
  }

  .u-section-5 .u-image-7 {
    min-height: 629px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-right: 183px;
  }

  .u-section-5 .u-image-8 {
    min-height: 617px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-9 {
    margin: 0 172px 0 auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2795px;
  }

  .u-section-5 .u-image-1 {
    min-height: 354px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 287px;
  }

  .u-section-5 .u-image-2 {
    min-height: 400px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 314px;
  }

  .u-section-5 .u-image-3 {
    min-height: 372px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 294px;
  }

  .u-section-5 .u-image-4 {
    min-height: 301px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 244px;
    margin-right: 106px;
  }

  .u-section-5 .u-image-5 {
    min-height: 398px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 329px;
  }

  .u-section-5 .u-image-6 {
    min-height: 373px;
  }

  .u-section-5 .u-image-7 {
    min-height: 409px;
  }

  .u-section-5 .u-text-8 {
    margin-right: auto;
  }

  .u-section-5 .u-image-8 {
    min-height: 412px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 106px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/anastacia-dvi-SVH9sdVyYFc-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 735px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-6 .u-image-1 {
  min-height: 291px;
  background-image: url("images/816Fl09Ip4L._AC_UL400_.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 202px auto 0;
}

.u-section-6 .u-image-2 {
  min-height: 291px;
  background-image: url("images/61mShr9tQlS._AC_UL400_.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  margin: 202px auto 0;
}

.u-section-6 .u-image-3 {
  min-height: 291px;
  background-image: url("images/71NhQtNPt9L._AC_UL400_.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-6 .u-image-4 {
  min-height: 291px;
  background-image: url("images/81oP0Fd6rRL._AC_UL400_.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  font-size: 1.5rem;
  margin: 0 auto 0 39px;
}

.u-section-6 .u-layout-wrap-2 {
  margin-top: 65px;
  margin-bottom: 27px;
}

.u-section-6 .u-image-5 {
  min-height: 304px;
  background-image: url("images/hanes.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-6 .u-image-6 {
  min-height: 304px;
  background-image: url("images/714ezNshFAL._AC_UL400_.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-text-7 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-6 .u-image-7 {
  min-height: 304px;
  background-image: url("images/71xrbawmzbL._AC_UL400_.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

.u-section-6 .u-text-8 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-6 .u-image-8 {
  min-height: 304px;
  background-image: url("images/714m61bFKyL._AC_UL400_.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px;
}

.u-section-6 .u-text-9 {
  font-size: 1.5rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 38px;
  }

  .u-section-6 .u-image-1 {
    min-height: 257px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 13px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 158px;
    margin-left: 18px;
  }

  .u-section-6 .u-image-2 {
    min-height: 257px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 13px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 158px;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    min-height: 257px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 11px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 148px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-4 {
    min-height: 257px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 13px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 148px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 56px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-image-5 {
    min-height: 258px;
  }

  .u-section-6 .u-image-6 {
    min-height: 258px;
  }

  .u-section-6 .u-image-7 {
    min-height: 258px;
  }

  .u-section-6 .u-image-8 {
    min-height: 258px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 23px;
  }

  .u-section-6 .u-image-1 {
    min-height: 159px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 78px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    min-height: 159px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 64px;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    min-height: 159px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 7px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 54px;
  }

  .u-section-6 .u-image-4 {
    min-height: 159px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 7px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.125rem;
    margin-top: 74px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 42px;
    margin-bottom: 51px;
  }

  .u-section-6 .u-image-5 {
    min-height: 159px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    font-size: 1.125rem;
    margin-top: 50px;
    margin-right: 0;
    margin-left: 16px;
  }

  .u-section-6 .u-image-6 {
    min-height: 159px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 29px;
    padding-right: 29px;
    padding-bottom: 15px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-7 {
    min-height: 159px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-bottom: 15px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 53px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-6 .u-image-8 {
    min-height: 159px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    font-size: 1.125rem;
    margin-top: 68px;
    margin-left: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3874px;
  }

  .u-section-6 .u-image-1 {
    min-height: 588px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 414px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-2 {
    min-height: 455px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 368px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-3 {
    min-height: 239px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 217px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-4 {
    min-height: 382px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 332px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-bottom: 60px;
  }

  .u-section-6 .u-image-5 {
    min-height: 504px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 425px;
    margin-left: 0;
  }

  .u-section-6 .u-image-6 {
    min-height: 396px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 310px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-7 {
    min-height: 629px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-8 {
    min-height: 376px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 0;
    margin-right: 172px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2591px;
  }

  .u-section-6 .u-image-1 {
    min-height: 414px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
  }

  .u-section-6 .u-image-2 {
    min-height: 283px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 216px;
  }

  .u-section-6 .u-image-3 {
    min-height: 181px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 113px;
  }

  .u-section-6 .u-image-4 {
    min-height: 301px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 244px;
  }

  .u-section-6 .u-image-5 {
    min-height: 293px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 222px;
  }

  .u-section-6 .u-image-6 {
    min-height: 252px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 186px;
  }

  .u-section-6 .u-image-7 {
    min-height: 409px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 8px;
  }

  .u-section-6 .u-image-8 {
    min-height: 218px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 106px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/ox-street-BWPqHZBhMVA-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 527px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  min-height: 166px;
  background-image: url("images/adidaboysshoes.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 30px 7px;
}

.u-section-7 .u-text-2 {
  font-size: 1.5rem;
  margin: 99px auto 0;
}

.u-section-7 .u-image-2 {
  min-height: 166px;
  background-image: url("images/tommyhilfigershoesboys.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px 7px;
}

.u-section-7 .u-text-3 {
  font-size: 1.5rem;
  margin: 99px auto 0;
}

.u-section-7 .u-image-3 {
  min-height: 166px;
  background-image: url("images/championboysshoes.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 30px 7px;
}

.u-section-7 .u-text-4 {
  font-size: 1.5rem;
  margin: 89px auto 0 17px;
}

.u-section-7 .u-image-4 {
  min-height: 166px;
  background-image: url("images/newbalanceshoesboys.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 30px 7px;
}

.u-section-7 .u-text-5 {
  font-size: 1.5rem;
  margin: 89px auto 0;
}

.u-section-7 .u-layout-wrap-2 {
  margin-top: 37px;
  margin-bottom: 60px;
}

.u-section-7 .u-image-5 {
  min-height: 203px;
  background-image: url("images/newbalancegirlsshoes.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 30px 1px;
}

.u-section-7 .u-text-6 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 116px auto 0;
}

.u-section-7 .u-image-6 {
  min-height: 203px;
  background-image: url("images/underarmourgirlsshoes.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px 30px 1px;
}

.u-section-7 .u-text-7 {
  font-size: 1.5rem;
  margin: 116px 4px 0;
}

.u-section-7 .u-image-7 {
  min-height: 203px;
  background-image: url("images/pumagirlsshoes.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px 30px 1px;
}

.u-section-7 .u-text-8 {
  font-size: 1.5rem;
  margin: 116px auto 0;
}

.u-section-7 .u-image-8 {
  min-height: 203px;
  background-image: url("images/nikegirlsshoes.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-8 {
  padding: 30px 30px 1px;
}

.u-section-7 .u-text-9 {
  font-size: 1.5rem;
  margin: 116px 44px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 38px;
  }

  .u-section-7 .u-image-1 {
    min-height: 132px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 9px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 63px;
  }

  .u-section-7 .u-image-2 {
    min-height: 132px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 9px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 63px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-7 .u-image-3 {
    min-height: 132px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 9px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 53px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-image-4 {
    min-height: 132px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-2 {
    margin-top: 27px;
    margin-bottom: 27px;
  }

  .u-section-7 .u-image-5 {
    min-height: 163px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 65px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-6 {
    min-height: 163px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: 65px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-7 .u-image-7 {
    min-height: 163px;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-top: 65px;
  }

  .u-section-7 .u-image-8 {
    min-height: 163px;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-top: 79px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 31px;
  }

  .u-section-7 .u-image-1 {
    min-height: 105px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 41px;
  }

  .u-section-7 .u-image-2 {
    min-height: 105px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 41px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-7 .u-image-3 {
    min-height: 105px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1rem;
    margin-top: 33px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-7 .u-image-4 {
    min-height: 105px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-7 .u-text-5 {
    font-size: 1.125rem;
    margin-top: 21px;
  }

  .u-section-7 .u-layout-wrap-2 {
    margin-top: 35px;
    margin-bottom: 47px;
  }

  .u-section-7 .u-image-5 {
    min-height: 115px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
  }

  .u-section-7 .u-text-6 {
    font-size: 1.125rem;
    margin-top: 34px;
    margin-right: 14px;
    margin-left: 2px;
  }

  .u-section-7 .u-image-6 {
    min-height: 115px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-bottom: 15px;
  }

  .u-section-7 .u-text-7 {
    font-size: 1.125rem;
    margin-top: 16px;
  }

  .u-section-7 .u-image-7 {
    min-height: 115px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-bottom: 15px;
  }

  .u-section-7 .u-text-8 {
    font-size: 1.125rem;
    margin-top: 27px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-7 .u-image-8 {
    min-height: 115px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-7 .u-text-9 {
    font-size: 1.125rem;
    margin-top: 49px;
    margin-left: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2791px;
  }

  .u-section-7 .u-image-1 {
    min-height: 298px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 241px;
  }

  .u-section-7 .u-image-2 {
    min-height: 319px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 249px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-3 {
    min-height: 285px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 207px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-4 {
    min-height: 395px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 305px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-wrap-2 {
    margin-bottom: 60px;
  }

  .u-section-7 .u-image-5 {
    min-height: 347px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-6 {
    min-height: 317px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 256px;
    margin-right: 180px;
    margin-left: auto;
  }

  .u-section-7 .u-image-7 {
    min-height: 273px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-8 {
    margin-top: 219px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-8 {
    min-height: 285px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-9 {
    margin-top: 254px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1882px;
  }

  .u-section-7 .u-image-1 {
    min-height: 211px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 159px;
  }

  .u-section-7 .u-image-2 {
    min-height: 196px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 140px;
  }

  .u-section-7 .u-image-3 {
    min-height: 181px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 113px;
  }

  .u-section-7 .u-image-4 {
    min-height: 221px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 154px;
  }

  .u-section-7 .u-layout-wrap-2 {
    margin-bottom: 57px;
  }

  .u-section-7 .u-image-5 {
    min-height: 183px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 125px;
  }

  .u-section-7 .u-image-6 {
    min-height: 197px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 132px;
    margin-right: auto;
  }

  .u-section-7 .u-image-7 {
    min-height: 132px;
  }

  .u-section-7 .u-text-8 {
    margin-top: 154px;
  }

  .u-section-7 .u-image-8 {
    min-height: 130px;
  }

  .u-section-7 .u-text-9 {
    margin-top: 198px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 144px;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 51px auto;
}