 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/alex-chambers-TxCbfMc854c-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 233px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 139px auto 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 335px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 40px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/sabrianna-2z7MxnXQs3k-unsplash.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 491px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 190px;
  background-image: url("images/bulova.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 98px auto 0;
}

.u-section-2 .u-image-2 {
  min-height: 190px;
  background-image: url("images/quadri.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 98px auto 0;
}

.u-section-2 .u-image-3 {
  min-height: 190px;
  background-image: url("images/lucky2.jpg");
}

.u-section-2 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 120px auto 0;
}

.u-section-2 .u-image-4 {
  min-height: 190px;
  background-image: url("images/etevon.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 15px 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 120px auto -15px;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 29px;
  margin-bottom: 35px;
}

.u-section-2 .u-image-5 {
  min-height: 188px;
  background-image: url("images/jovivi.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 96px auto 0;
}

.u-section-2 .u-image-6 {
  min-height: 188px;
  background-image: url("images/tommyhilfigerbracelets.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  margin: 96px auto 0;
}

.u-section-2 .u-image-7 {
  min-height: 188px;
  background-image: url("images/funeia.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 15px 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 118px auto 0;
}

.u-section-2 .u-image-8 {
  min-height: 188px;
  background-image: url("images/wellingsale1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 15px 30px;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  margin: 118px auto -15px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 15px;
  }

  .u-section-2 .u-image-1 {
    min-height: 187px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 54px;
  }

  .u-section-2 .u-image-2 {
    min-height: 187px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 54px;
  }

  .u-section-2 .u-image-3 {
    background-position: 50% 50%;
    min-height: 187px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 76px;
  }

  .u-section-2 .u-image-4 {
    min-height: 187px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 76px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 22px;
    margin-bottom: 46px;
  }

  .u-section-2 .u-image-5 {
    min-height: 143px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-2 .u-image-6 {
    min-height: 143px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-2 .u-image-7 {
    min-height: 143px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 51px;
  }

  .u-section-2 .u-image-8 {
    min-height: 143px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 51px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 22px;
  }

  .u-section-2 .u-image-1 {
    min-height: 131px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 53px;
  }

  .u-section-2 .u-image-2 {
    min-height: 131px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 53px;
    margin-right: 17px;
  }

  .u-section-2 .u-image-3 {
    min-height: 131px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 75px;
    margin-bottom: -7px;
  }

  .u-section-2 .u-image-4 {
    min-height: 131px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 75px;
    margin-bottom: -7px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 41px;
    margin-bottom: 25px;
  }

  .u-section-2 .u-image-5 {
    min-height: 106px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 21px;
  }

  .u-section-2 .u-image-6 {
    min-height: 106px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 23px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-7 {
    min-height: 106px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 55px;
  }

  .u-section-2 .u-image-8 {
    min-height: 106px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 50px;
    margin-bottom: -1px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2710px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 453px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 368px;
    margin-left: 218px;
  }

  .u-section-2 .u-image-2 {
    min-height: 390px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 305px;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    min-height: 197px;
  }

  .u-section-2 .u-image-4 {
    min-height: 197px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    position: relative;
    margin-bottom: 35px;
  }

  .u-section-2 .u-image-5 {
    min-height: 286px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 209px;
  }

  .u-section-2 .u-image-6 {
    min-height: 272px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 195px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-7 {
    min-height: 252px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 0;
  }

  .u-section-2 .u-image-8 {
    min-height: 529px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1848px;
  }

  .u-section-2 .u-image-1 {
    min-height: 289px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 216px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 239px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 154px;
  }

  .u-section-2 .u-image-3 {
    min-height: 124px;
  }

  .u-section-2 .u-image-4 {
    min-height: 124px;
  }

  .u-section-2 .u-image-5 {
    min-height: 208px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 129px;
  }

  .u-section-2 .u-image-6 {
    min-height: 198px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 122px;
  }

  .u-section-2 .u-image-7 {
    min-height: 159px;
  }

  .u-section-2 .u-image-8 {
    min-height: 333px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/samar-ahmad--nKCbZlOHek-unsplash.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 617px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 21px 408px 0 436px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 259px;
  background-image: url("images/lokai.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 165px auto 0;
}

.u-section-3 .u-image-2 {
  min-height: 259px;
  background-image: url("images/616KvQj2oIL._AC_UL320_.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 165px auto 0;
}

.u-section-3 .u-image-3 {
  min-height: 259px;
  background-image: url("images/618Kc5wGNwL._AC_UL320_.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: 187px auto 0;
}

.u-section-3 .u-image-4 {
  min-height: 259px;
  background-image: url("images/61QiilwjSpL._AC_UL320_.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 15px 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  margin: 187px auto -15px;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 27px;
  margin-bottom: 36px;
}

.u-section-3 .u-image-5 {
  min-height: 262px;
  background-image: url("images/81lePoqNuqS._AC_UL320_.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  margin: 165px auto 0;
}

.u-section-3 .u-image-6 {
  min-height: 262px;
  background-image: url("images/81wNpc2mZhL._AC_UL320_.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  margin: 165px auto 0;
}

.u-section-3 .u-image-7 {
  min-height: 262px;
  background-image: url("images/71SdTLqSOlL._AC_UL320_.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-7 {
  padding: 15px 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  margin: 187px auto 0;
}

.u-section-3 .u-image-8 {
  min-height: 262px;
  background-image: url("images/best-bracelets-women-vincero-the-cuff-review-luxe-digital.jpg.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-8 {
  padding: 15px 30px;
}

.u-section-3 .u-text-9 {
  font-size: 1.125rem;
  margin: 187px auto -15px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 317px;
    margin-left: 336px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 15px;
  }

  .u-section-3 .u-image-1 {
    min-height: 217px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 139px;
  }

  .u-section-3 .u-image-2 {
    min-height: 217px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 139px;
  }

  .u-section-3 .u-image-3 {
    min-height: 217px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-image-4 {
    min-height: 217px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 7px;
    margin-bottom: 47px;
  }

  .u-section-3 .u-image-5 {
    min-height: 201px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 123px;
  }

  .u-section-3 .u-image-6 {
    min-height: 201px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 123px;
  }

  .u-section-3 .u-image-7 {
    min-height: 201px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-image-8 {
    min-height: 201px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin: 0 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 226px;
    margin-right: 198px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 158px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 81px;
  }

  .u-section-3 .u-image-2 {
    min-height: 158px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 81px;
  }

  .u-section-3 .u-image-3 {
    min-height: 165px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 103px;
  }

  .u-section-3 .u-image-4 {
    min-height: 172px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 103px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 14px;
    margin-bottom: 46px;
  }

  .u-section-3 .u-image-5 {
    min-height: 159px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 79px;
  }

  .u-section-3 .u-image-6 {
    min-height: 159px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 23px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 86px;
  }

  .u-section-3 .u-image-7 {
    min-height: 159px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 106px;
  }

  .u-section-3 .u-image-8 {
    min-height: 159px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 50px;
    margin-bottom: -1px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2949px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 136px;
    margin-right: 108px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-image-1 {
    min-height: 453px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 368px;
    margin-left: 218px;
  }

  .u-section-3 .u-image-2 {
    min-height: 390px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 305px;
  }

  .u-section-3 .u-image-3 {
    min-height: 472px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 407px;
  }

  .u-section-3 .u-image-4 {
    min-height: 596px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-wrap-2 {
    position: relative;
    margin-bottom: 36px;
  }

  .u-section-3 .u-image-5 {
    min-height: 584px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 500px;
  }

  .u-section-3 .u-image-6 {
    min-height: 272px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 195px;
  }

  .u-section-3 .u-image-7 {
    min-height: 472px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 419px;
    margin-right: 237px;
  }

  .u-section-3 .u-image-8 {
    min-height: 530px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    margin: 0 auto 0 173px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1854px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 36px;
    margin-right: 8px;
  }

  .u-section-3 .u-image-1 {
    min-height: 289px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 216px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    min-height: 289px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 206px;
  }

  .u-section-3 .u-image-3 {
    min-height: 297px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 279px;
  }

  .u-section-3 .u-image-4 {
    min-height: 375px;
  }

  .u-section-3 .u-image-5 {
    min-height: 377px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 300px;
  }

  .u-section-3 .u-image-6 {
    min-height: 198px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 122px;
  }

  .u-section-3 .u-image-7 {
    min-height: 284px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 258px;
    margin-right: auto;
  }

  .u-section-3 .u-image-8 {
    min-height: 200px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 106px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/amanda-mocci-Zyp3t67rrP4-unsplash.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 677px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 197px;
  margin: 22px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 300px;
  background-image: url("images/anthony-jacobs-Black-Stainless-Steel-Simulated-Diamond-Band-Ring.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 224px auto 0;
}

.u-section-4 .u-image-2 {
  min-height: 300px;
  background-image: url("images/versace-Gold-Medusa-Detailed-Signet-Ring.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 224px auto 0;
}

.u-section-4 .u-image-3 {
  min-height: 300px;
  background-image: url("images/gucci-Silver-Engraved-Silver-Ring.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 15px 0 13px;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-4 .u-image-4 {
  min-height: 300px;
  background-image: url("images/vivienne-westwood-PPLATINUM-Tilly-Ring.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 15px 30px 13px;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  margin: 239px auto 0;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 21px;
  margin-bottom: 40px;
}

.u-section-4 .u-image-5 {
  min-height: 262px;
  background-image: url("images/alexander-mcqueen-Black-Logo-Engraved-Embellished-Ring.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  margin: 187px auto 0;
}

.u-section-4 .u-image-6 {
  min-height: 262px;
  background-image: url("images/fendi-argent-Ring.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  margin: 187px auto 0;
}

.u-section-4 .u-image-7 {
  min-height: 262px;
  background-image: url("images/maison-martin-margiela-Palladioburatta-Timeless-Ring.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-7 {
  padding: 15px 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  margin: 187px auto 0;
}

.u-section-4 .u-image-8 {
  min-height: 262px;
  background-image: url("images/burberry-AVINTAGESTEEL-Ekd-Ring.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-8 {
  padding: 15px 30px;
}

.u-section-4 .u-text-9 {
  font-size: 1.125rem;
  margin: 187px auto -15px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-4 .u-text-1 {
    width: 192px;
  }

  .u-section-4 .u-image-1 {
    min-height: 217px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 139px;
  }

  .u-section-4 .u-image-2 {
    min-height: 217px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 139px;
  }

  .u-section-4 .u-image-3 {
    min-height: 217px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-image-4 {
    min-height: 217px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-5 {
    min-height: 201px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 123px;
  }

  .u-section-4 .u-image-6 {
    min-height: 201px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 123px;
  }

  .u-section-4 .u-image-7 {
    min-height: 201px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-8 {
    min-height: 201px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin: 0 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-4 .u-image-1 {
    min-height: 158px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 81px;
  }

  .u-section-4 .u-image-2 {
    min-height: 173px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 102px;
  }

  .u-section-4 .u-image-3 {
    min-height: 165px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 103px;
  }

  .u-section-4 .u-image-4 {
    min-height: 172px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 103px;
  }

  .u-section-4 .u-image-5 {
    min-height: 159px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 79px;
  }

  .u-section-4 .u-image-6 {
    min-height: 159px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 23px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 86px;
  }

  .u-section-4 .u-image-7 {
    min-height: 159px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 106px;
  }

  .u-section-4 .u-image-8 {
    min-height: 159px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 50px;
    margin-bottom: -1px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3023px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-image-1 {
    min-height: 453px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 368px;
    margin-left: 218px;
  }

  .u-section-4 .u-image-2 {
    min-height: 390px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 305px;
  }

  .u-section-4 .u-image-3 {
    min-height: 472px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 407px;
  }

  .u-section-4 .u-image-4 {
    min-height: 596px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-4 .u-image-5 {
    min-height: 584px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 500px;
  }

  .u-section-4 .u-image-6 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 402px;
  }

  .u-section-4 .u-image-7 {
    min-height: 472px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 419px;
  }

  .u-section-4 .u-image-8 {
    min-height: 530px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-9 {
    margin: 0 auto 0 173px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1928px;
  }

  .u-section-4 .u-image-1 {
    min-height: 289px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 216px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    min-height: 289px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 206px;
  }

  .u-section-4 .u-image-3 {
    min-height: 297px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 279px;
  }

  .u-section-4 .u-image-4 {
    min-height: 375px;
  }

  .u-section-4 .u-image-5 {
    min-height: 377px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 300px;
  }

  .u-section-4 .u-image-6 {
    min-height: 305px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 122px;
  }

  .u-section-4 .u-image-7 {
    min-height: 284px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 258px;
  }

  .u-section-4 .u-image-8 {
    min-height: 350px;
  }

  .u-section-4 .u-text-9 {
    margin-left: auto;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/__-drz-__-DpaZr8hPSQs-unsplash.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 677px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 234px;
  margin: 21px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  min-height: 300px;
  background-image: url("images/alex-monroe-dorado-Anillo-Plume-Feather-en-oro-amarillo-de-18kt-con-diamante-champagne.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 224px auto 0;
}

.u-section-5 .u-image-2 {
  min-height: 300px;
  background-image: url("images/adornia-no-color-Gold-Rhodium-Plated-Crystal-Set-Of-Rings.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin: 224px auto 0;
}

.u-section-5 .u-image-3 {
  min-height: 300px;
  background-image: url("images/prada-Pink-Triangle-Logo-Symbole-Ring.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 15px 0 13px;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-5 .u-image-4 {
  min-height: 300px;
  background-image: url("images/vivienne-westwood-R-Maybelle-Ing.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 15px 30px 13px;
}

.u-section-5 .u-text-5 {
  font-size: 1.125rem;
  margin: 239px auto 0;
}

.u-section-5 .u-layout-wrap-2 {
  margin-top: 21px;
  margin-bottom: 13px;
}

.u-section-5 .u-image-5 {
  min-height: 289px;
  background-image: url("images/tory-burch-Silver-Miller-Studded-Ring.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-5 .u-text-6 {
  background-image: none;
  font-size: 1.5rem;
  margin: 187px auto 0;
}

.u-section-5 .u-image-6 {
  min-height: 289px;
  background-image: url("images/saint-laurent-Silver-Opyum-Twist-Ring.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.125rem;
  margin: 187px auto 0;
}

.u-section-5 .u-image-7 {
  min-height: 289px;
  background-image: url("images/bottega-veneta-Silver-Curb-Chain-Ring.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-7 {
  padding: 15px 0;
}

.u-section-5 .u-text-8 {
  font-size: 1.125rem;
  margin: 187px auto 0;
}

.u-section-5 .u-image-8 {
  min-height: 289px;
  background-image: url("images/gucci--Yellow-Gold-Icon-Ring.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-8 {
  padding: 15px 30px;
}

.u-section-5 .u-text-9 {
  font-size: 1.125rem;
  margin: 187px auto -15px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-5 .u-image-1 {
    min-height: 217px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 139px;
  }

  .u-section-5 .u-image-2 {
    min-height: 217px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 139px;
  }

  .u-section-5 .u-image-3 {
    min-height: 217px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
  }

  .u-section-5 .u-image-4 {
    min-height: 217px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-image-5 {
    min-height: 201px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 123px;
  }

  .u-section-5 .u-image-6 {
    min-height: 201px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 123px;
  }

  .u-section-5 .u-image-7 {
    min-height: 201px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-image-8 {
    min-height: 201px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin: 0 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-5 .u-image-1 {
    min-height: 173px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 94px;
  }

  .u-section-5 .u-image-2 {
    min-height: 173px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 102px;
  }

  .u-section-5 .u-image-3 {
    min-height: 165px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 103px;
  }

  .u-section-5 .u-image-4 {
    min-height: 172px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 103px;
  }

  .u-section-5 .u-image-5 {
    min-height: 159px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 79px;
  }

  .u-section-5 .u-image-6 {
    min-height: 159px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 23px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 86px;
  }

  .u-section-5 .u-image-7 {
    min-height: 159px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 106px;
  }

  .u-section-5 .u-image-8 {
    min-height: 160px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 107px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3023px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-image-1 {
    min-height: 453px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 368px;
    margin-left: 218px;
  }

  .u-section-5 .u-image-2 {
    min-height: 390px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 305px;
  }

  .u-section-5 .u-image-3 {
    min-height: 472px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 407px;
  }

  .u-section-5 .u-image-4 {
    min-height: 596px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 0;
  }

  .u-section-5 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-5 .u-image-5 {
    min-height: 425px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.125rem;
    margin-top: 310px;
  }

  .u-section-5 .u-image-6 {
    min-height: 448px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 365px;
  }

  .u-section-5 .u-image-7 {
    min-height: 472px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 419px;
  }

  .u-section-5 .u-image-8 {
    min-height: 533px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1928px;
  }

  .u-section-5 .u-image-1 {
    min-height: 289px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 216px;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    min-height: 289px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 206px;
  }

  .u-section-5 .u-image-3 {
    min-height: 297px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 279px;
  }

  .u-section-5 .u-image-4 {
    min-height: 375px;
  }

  .u-section-5 .u-image-5 {
    min-height: 377px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 300px;
  }

  .u-section-5 .u-image-6 {
    min-height: 198px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 122px;
  }

  .u-section-5 .u-image-7 {
    min-height: 284px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 258px;
  }

  .u-section-5 .u-image-8 {
    min-height: 406px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/muhammad-abdullah-uu8HT1-AWtM-unsplash.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 854px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 21px 429px 0 453px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-6 .u-image-1 {
  min-height: 382px;
  background-image: url("images/versace-Gold-Medusa-Chain-Necklace.webp");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 306px auto 0;
}

.u-section-6 .u-image-2 {
  min-height: 382px;
  background-image: url("images/burberry-Silver-Olympia-Curb-Chain-Necklace.webp");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: 306px auto 0;
}

.u-section-6 .u-image-3 {
  min-height: 382px;
  background-image: url("images/anthony-jacobs-Silver-18k-Goldplated-Simulated-Diamond-Lion-Greek-Key-Mount-Pendant-Necklace.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 15px 0 13px;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-6 .u-image-4 {
  min-height: 382px;
  background-image: url("images/vivienne-westwood-SRUTHENIUMBLACK-Gunmetal-Mini-Bas-Relief-Orb-Pendant-Necklace.webp");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 15px 30px 13px;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-6 .u-layout-wrap-2 {
  margin-top: 21px;
  margin-bottom: 32px;
}

.u-section-6 .u-image-5 {
  min-height: 365px;
  background-image: url("images/emporio-armani-neutral-Stainless-Steel-Double-Dog-Tag-Chain-Necklace.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-6 .u-text-6 {
  background-image: none;
  font-size: 1.125rem;
  margin: 282px auto 0;
}

.u-section-6 .u-image-6 {
  min-height: 365px;
  background-image: url("images/saint-laurent-Silver-Curb-Chain-Necklace.webp");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.125rem;
  margin: 282px auto 0;
}

.u-section-6 .u-image-7 {
  min-height: 365px;
  background-image: url("images/alexander-mcqueen-Silver-Skull-embellished-Double-Layer-Chain-Necklace.webp");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-7 {
  padding: 15px 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.125rem;
  margin: 297px auto 0;
}

.u-section-6 .u-image-8 {
  min-height: 365px;
  background-image: url("images/balenciaga-ANTIQUESILVER-Bb-Icon-Necklace.webp");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-8 {
  padding: 15px 30px;
}

.u-section-6 .u-text-9 {
  font-size: 1.125rem;
  margin: 297px auto 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 332px;
    margin-left: 353px;
  }

  .u-section-6 .u-image-1 {
    min-height: 308px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 232px;
  }

  .u-section-6 .u-image-2 {
    min-height: 308px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 232px;
  }

  .u-section-6 .u-image-3 {
    min-height: 308px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
  }

  .u-section-6 .u-image-4 {
    min-height: 308px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-bottom: 21px;
  }

  .u-section-6 .u-image-5 {
    min-height: 314px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 238px;
  }

  .u-section-6 .u-image-6 {
    min-height: 314px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 236px;
  }

  .u-section-6 .u-image-7 {
    min-height: 314px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-6 .u-image-8 {
    min-height: 314px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 243px;
    margin-right: 219px;
  }

  .u-section-6 .u-image-1 {
    min-height: 231px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 157px;
  }

  .u-section-6 .u-image-2 {
    min-height: 231px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 157px;
  }

  .u-section-6 .u-image-3 {
    min-height: 231px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 179px;
  }

  .u-section-6 .u-image-4 {
    min-height: 231px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 158px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 18px;
    margin-bottom: 23px;
  }

  .u-section-6 .u-image-5 {
    min-height: 247px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-6 {
    min-height: 247px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-top: 23px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 180px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-image-7 {
    min-height: 247px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 203px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-6 .u-image-8 {
    min-height: 247px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 107px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3023px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 153px;
    margin-right: 129px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-image-1 {
    min-height: 601px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 524px;
  }

  .u-section-6 .u-image-2 {
    min-height: 519px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 442px;
  }

  .u-section-6 .u-image-3 {
    min-height: 673px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 603px;
  }

  .u-section-6 .u-image-4 {
    min-height: 693px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-6 .u-image-5 {
    min-height: 690px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 627px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-6 {
    min-height: 651px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 581px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-7 {
    min-height: 698px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 645px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-8 {
    min-height: 706px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 643px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1928px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 53px;
    margin-right: 29px;
  }

  .u-section-6 .u-image-1 {
    min-height: 289px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 216px;
  }

  .u-section-6 .u-image-2 {
    min-height: 289px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 206px;
  }

  .u-section-6 .u-image-3 {
    min-height: 424px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 365px;
  }

  .u-section-6 .u-image-4 {
    min-height: 436px;
  }

  .u-section-6 .u-image-5 {
    min-height: 429px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 0;
  }

  .u-section-6 .u-image-6 {
    min-height: 415px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 341px;
  }

  .u-section-6 .u-image-7 {
    min-height: 456px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 407px;
  }

  .u-section-6 .u-image-8 {
    min-height: 406px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/arteum-ro-VJZdxfvFGuo-unsplash.jpg");
}

.u-section-7 .u-sheet-1 {
  min-height: 808px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  width: 104px;
  margin: 22px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 44px;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  min-height: 358px;
  background-image: url("images/versace-DHGOLD-Medusa-Stud-Earrings.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: 282px auto 0;
}

.u-section-7 .u-image-2 {
  min-height: 358px;
  background-image: url("images/burberry--Palladium-plated-Bottle-Cap-Earrings.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  margin: 282px auto 0;
}

.u-section-7 .u-image-3 {
  min-height: 358px;
  background-image: url("images/fendi-argent-Baguette-Earrings.webp");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 15px 0 13px;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-7 .u-image-4 {
  min-height: 358px;
  background-image: url("images/vivienne-westwood-SRUTHENIUMBLA-Gunmetal-Grace-Earring.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 15px 30px 13px;
}

.u-section-7 .u-text-5 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-7 .u-layout-wrap-2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-7 .u-image-5 {
  min-height: 312px;
  background-image: url("images/anthony-jacobs-Black-2-pair-Simulated-Diamond-Stud-Earrings.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-7 .u-text-6 {
  background-image: none;
  font-size: 1.125rem;
  margin: 229px auto 0;
}

.u-section-7 .u-image-6 {
  min-height: 312px;
  background-image: url("images/lauren-rubinski-Gold-14k-Yellow-Hoop-Earrings.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-7 .u-text-7 {
  font-size: 1.125rem;
  margin: 229px auto 0;
}

.u-section-7 .u-image-7 {
  min-height: 312px;
  background-image: url("images/alexander-mcqueen-dk_rutenio_ant_-Graffiti-Ear-Cuff.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-7 {
  padding: 15px 0;
}

.u-section-7 .u-text-8 {
  font-size: 1.125rem;
  margin: 244px auto 0;
}

.u-section-7 .u-image-8 {
  min-height: 312px;
  background-image: url("images/balenciaga-GOLD-Silver-Earrings-With-Logo.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-8 {
  padding: 15px 30px;
}

.u-section-7 .u-text-9 {
  font-size: 1.125rem;
  margin: 244px auto 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-7 .u-text-1 {
    width: 108px;
    margin-top: 27px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 39px;
  }

  .u-section-7 .u-image-1 {
    min-height: 308px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 232px;
  }

  .u-section-7 .u-image-2 {
    min-height: 308px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 232px;
  }

  .u-section-7 .u-image-3 {
    min-height: 308px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
  }

  .u-section-7 .u-image-4 {
    min-height: 308px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
  }

  .u-section-7 .u-layout-wrap-2 {
    margin-top: 33px;
    margin-bottom: 44px;
  }

  .u-section-7 .u-image-5 {
    min-height: 273px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 197px;
  }

  .u-section-7 .u-image-6 {
    min-height: 273px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: 195px;
  }

  .u-section-7 .u-image-7 {
    min-height: 273px;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-image-8 {
    min-height: 273px;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-7 .u-image-1 {
    min-height: 231px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 157px;
  }

  .u-section-7 .u-image-2 {
    min-height: 231px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 157px;
  }

  .u-section-7 .u-image-3 {
    min-height: 231px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 179px;
  }

  .u-section-7 .u-image-4 {
    min-height: 231px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 158px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-2 {
    margin-top: 27px;
    margin-bottom: 27px;
  }

  .u-section-7 .u-image-5 {
    min-height: 211px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-6 {
    min-height: 211px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-top: 23px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 134px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-7 .u-image-7 {
    min-height: 211px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-7 .u-text-8 {
    margin-top: 157px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-7 .u-image-8 {
    min-height: 211px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-7 .u-text-9 {
    margin-top: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3023px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-image-1 {
    min-height: 469px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 392px;
  }

  .u-section-7 .u-image-2 {
    min-height: 399px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 362px;
  }

  .u-section-7 .u-image-3 {
    min-height: 673px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 603px;
  }

  .u-section-7 .u-image-4 {
    min-height: 486px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-7 .u-image-5 {
    min-height: 480px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 425px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-6 {
    min-height: 459px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 444px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-7 {
    min-height: 595px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-top: 19px;
  }

  .u-section-7 .u-text-8 {
    margin-top: 575px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-8 {
    min-height: 515px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-9 {
    margin-top: 487px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1928px;
  }

  .u-section-7 .u-image-1 {
    min-height: 289px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 216px;
  }

  .u-section-7 .u-image-2 {
    min-height: 289px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 206px;
  }

  .u-section-7 .u-image-3 {
    min-height: 424px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 365px;
  }

  .u-section-7 .u-image-4 {
    min-height: 306px;
  }

  .u-section-7 .u-image-5 {
    min-height: 370px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 0;
  }

  .u-section-7 .u-image-6 {
    min-height: 415px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 341px;
  }

  .u-section-7 .u-image-7 {
    min-height: 456px;
  }

  .u-section-7 .u-text-8 {
    margin-top: 407px;
  }

  .u-section-7 .u-image-8 {
    min-height: 349px;
  }

  .u-section-7 .u-text-9 {
    margin-top: 345px;
  }
}