.u-section-1 .u-sheet-1 {
  min-height: 505px;
}

.u-section-1 .u-form-1 {
  height: 241px;
  margin: 30px 268px 60px 302px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 168px;
    margin-left: 202px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 58px;
    margin-left: 92px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}